.chat-divAll{
    margin:2%;
    padding: 15px;
}

.chat-divTitle{
    width: 100%;
    font-size: 18px;
    border-bottom: solid 2px black;
    margin-bottom: 25px
}

.chat-divList{
    margin-left:30px;
    margin-right:30px;
    height: 380px;
    overflow: auto;
}

.chat-divList::-webkit-scrollbar{
    display: none;
}

.chat-divComponent{
    border-bottom:solid 1px rgb(229, 227, 227);
    padding: 15px 0 15px 0;
    display: flex;
    align-items: center;
}

.chat-divUsername{
    font-weight: bold;
    font-size: 16px;
}

.chat-divTextMessage{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 16px;
}

.chat-divCombine{
    margin: 0 30px 0 0;
}

.chat-divCombineForOthers{
    margin: 0 180px 0 0;
}

.chat-divForButton{
    display: flex;
    align-items: center;
    margin: 0 30px 0 auto;
}

.chat-buttonEdit{
    margin-right:7px;
    width: 50px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    text-decoration: none;
    background: #459876;
    color: #fff;
    box-shadow: 0 2px 1px dimgray;
    border:none;
    border-radius: 3px;
}
.chat-buttonEdit:hover{
    background:#69b590;
}

.chat-buttonEdit:active{
    transform: translateY(2px);
    box-shadow: none;
}

.chat-buttonEditEnd{
    margin-right:7px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    text-decoration: none;
    background: #459876;
    color: #fff;
    box-shadow: 0 2px 1px dimgray;
    border:none;
    border-radius: 3px;
}
.chat-buttonEditEnd:hover{
    background:#69b590;
}

.chat-buttonEditEnd:active{
    transform: translateY(2px);
    box-shadow: none;
}

.chat-buttonDelete{
    width: 50px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    text-decoration: none;
    background: #ca6565;
    color: #fff;
    box-shadow: 0 2px 1px dimgray;
    border:none;
    border-radius: 3px;
}
.chat-buttonDelete:hover{
    background:#e18989;
}

.chat-buttonDelete:active{
    transform: translateY(2px);
    box-shadow: none;
}

.chat-inputEdit{
    background-color:rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 5px;
    width: 450px;
    height: 25px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px lightgrey;
    margin-left: 5px
}

.chat-inputEdit:focus{
    border-bottom: solid 1px rgb(33, 98, 183);
}

.chat-buttonSend{
    width: 75px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: #6c80bc;
    color: #fff;
    border: none;
    box-shadow: 0 2px 1px dimgray;
    border-radius: 20px;
}
.chat-buttonSend:hover{
    background:#9cabe8;
}

.chat-buttonSend:active{
    transform: translateY(2px);
    box-shadow: none;
}

.chat-inputSend{
    background-color:rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 5px;
    width: 450px;
    height: 30px;
    outline: none;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.chat-inputSend:focus{
    border: solid 2px rgb(33, 98, 183);
}

.chat-divSend{
    display:flex;
    align-items: center;
    margin:30px 0 20px 0;
}

.chat-divInput{
    margin:0 20px 0 auto;
}

.chat-divForButtonSend{
    height: 40px;
    margin: 0 30px 0 0;
}

