.divForAll{
    display: content;
}

header{
    width:100%;   
    background-color: darkcyan;
    opacity:0.8;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.h1{
    padding: 30px 10px 10px 0;
    margin:0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.ul{
    height: inherit;
    margin:30px 0 0 0;
    display:flex;
    list-style: none;
}
 
.div{
    height: inherit;
    margin: 0 0 0 auto;
}

.div-small{ 
    height: inherit;
    width: 150px;
    padding: 30px 5px 10px 5px;
    font-size: 14px;
    color: rgb(0, 0, 0)
}

.div-small:hover{
    background-color: rgb(107, 173, 173);
    opacity: 0.8;
}

body{
    margin-top: 80px;
}

