.profile-divAll{
    margin:2%;
    padding: 15px;
}

.profile-divTitle{
    width: 100%;
    font-size: 18px;
    border-bottom: solid 2px black;
    margin-bottom:30px;
    display: flex;
}
.profile-divProfile{
    margin:15px auto 15px 30px;
    border-left:solid 1px gray;
}

.profile-divComponent{
    padding: 10px 0 10px 15px;
}

.profile-input{
    background-color:rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px;
    width: 350px;
    height: 25px;
    outline: none;
    border: solid 2px rgb(78, 77, 77);
    border-radius: 5px;
    margin-left: 5px
}

.profile-divForButton{
    margin: 0 10px 0 auto;
}

.profile-button{
    width: 70px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: black;
}

.profile-button:hover{
    color:#5b5959;
}

.profile-buttonBack{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    text-decoration: none;
    background: #7d7f85;
    color: #fff;
    border-bottom: solid 4px #4e5053;
    border-radius: 3px;
}

.profile-buttonBack:hover{
    background:#9fa1a9;
}

.profile-buttonBack:active{
    transform: translateY(4px);
    border-bottom: none;
    margin-bottom: 4px;
}